<!DOCTYPE html>
<html>
  <head>
    <title>Yelp Fusion Recommendation</title>
  </head>
  <body>
    <h1>Yelp Fusion Recommendation</h1>
    <form method="POST">
      <label for="category">Category:</label>
      <select name="category">
        {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Filter">
    </form>
    <hr>
    <div>
      {% for business in businesses %}
      <div>
        <img src="{{ business.image_url }}" alt="{{ business.name }}" width="500">
        <h2><a href="{{ business.url }}" target="_blank">{{ business.name }}</a></h2>
        <p>Address: {{ business.location }}</p>
        <p>TEL: {{ business.phone }}</p>
        <p>Rating: {{ business.rating }}</p>
        <p>Categories: {{ business.categories|join(', ') }}</p>
        <a href="{{ url_for('wordcloud', business_id=business.id) }}">View Wordcloud</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>